body{
    background-color: rgb(59, 141, 203);
    font-family: 'Zen Kurenaido', sans-serif;
    /* background: url("main_app/images/background.jpeg") 50% 0 no-repeat fixed;
    height: 650px;
    padding: 100px 0 0 0;    */
}