{% load static %}
<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta http-equiv='X-UA-Compatible' content='IE=edge' />
        <link rel='preconnect' href='https://fonts.googleapis.com'>
        <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inconsolata&family=Rock+Salt&family=Zen+Kurenaido&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
        <script src="https://cdn.ckeditor.com/ckeditor5/32.0.0/classic/ckeditor.js"></script>
        <script src="{% static 'scripts/main.js' %}" defer></script>
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <title>Nova Bibliotheca Corviniana - {% block title %}{% endblock %}</title> 
    </head>
    <body>

        <div id="editor">This is some sample content.</div>
        <script>
                ClassicEditor
                        .create( document.querySelector( '#editor' ) )
                        .then( editor => {
                                console.log( editor );
                        } )
                        .catch( error => {
                                console.error( error );
                        } );
        </script>

        {% block content %}{% endblock %}
    </body>
</html>